
body {
  margin: 0;
 background-color:#212121;

    font-family: 'Kanit', sans-serif; /* Fallback to sans-serif if Kanit fails to load */




}
/* Example for specific elements */
h1, h2, h3 {
  font-family: 'Kanit', sans-serif;
}